h1 {
  font-family: sans-serif;
  color: red;
}

body{
	background-color: #02A19D ;
	text-align: center;

}

img	{
	display: block;
	margin: auto;
	justify-content: space-around;
    width: 17vw;
}

#content {
  font-family: sans-serif;
  color: black;
  border: solid blue;
} 

#pas {
  font-family: arial;
  font-weight: bold;
  font-size: 500px
  color: green;
} 

#texte
{
    color : black;
    text-decoration: none
}
  
#texte:hover
{
    text-decoration: underline;
    color: #F86898;
}

.camille	{
	display: block;
    margin: 20px auto;
	
}

#header {
    display: flex;
    justify-content: center;   /* centre horizontalement le contenu */
    align-items: center;       /* centre verticalement */
    gap: 20px;                 /* espace entre logo, bouton, menu */
    background-color: #003366;
    color: white;
    padding: 15px 20px;
}

.div	{
    justify-content: center;   /* centre horizontalement le contenu */
    align-items: center;       /* centre verticalement */
    gap: 20px;                 /* espace entre logo, bouton, menu */
    color: black;
    padding: 15px 20px;
}

table {
  display: block;
  margin-left: auto; /* Auto à gauche pour pousser le tableau vers la droite */
  margin-right: 0;   /* Pas d'espace à droite */
  border-collapse: collapse;
}


td{
  border: 1px solid black;
  padding: 10px;
}

.theo {
    background: linear-gradient(to right, #4CAF50, #81c784); /* dégradé vert */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}

.alex {
    background: linear-gradient(to right, #810bff, #b366ff); /* dégradé violet */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.overlaymenu {
    background: linear-gradient(to right, #810bff, #b366ff); /* dégradé violet */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

button {
    display: block;
    margin: 20px auto;
    cursor: pointer;
}

a	{
	text-decoration: none
}

/* Menu principal */
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu > li {
  position: relative;
  display: inline-block;
}

/* sous menue */
.submenu {
  display: none;              /* Caché au départ */
  position: absolute;
  top: 100%;
  left: 0;
  background-color: black;
  padding: 10px;
  list-style: none;
  white-space: nowrap;        /* Empêche le retour à la ligne */
  transform: translateX(-50%); /* Déplace le sous-menu pour qu'il soit parfaitement centré */
}

.submenu li {
  display: inline-block;      /* Affichage horizontal */
  margin: ;
}

.menu li:hover .submenu {
  display: block;             /* Affiche le sous-menu au survol */
}

/* Liens */
.menu a, .submenu a {
  text-decoration: none;
  padding: 5px 10px;
  color: black;
}
.menu a:hover, .submenu a:hover {
  background: #ccc;
}



